.board
{
	margin: auto;
	border:20px solid #55cdef;
	width: 640px;
	height: 640px;
}
.square 
{
	width: 80px;
	height: 80px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;

}
.black
{
	background-color: #999;
}
.white
{
	background-color: #eee;
}
.figure
{
	font-size: 60px;
	cursor:pointer;
}